.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card {
  border: 1px solid #d1d5db;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  margin-bottom: 15px;
}

.button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}
.backButton {
  margin-bottom: 15px;
  background: transparent;
  border: none;
  color: #555;
  font-size: 16px;
  cursor: pointer;
}
